// Custom styles.
.site-meta {
  opacity: 90%;
  padding: 18px 0;
  background-image: url(/images/log-big.jpg);
  @media(min-width: 992px){
  	background-image: url(/images/log-small.jpg);
  }
}
.site-title {
  color: #f5f5f5;
}
.headband {
  height: 0px;
}

.post-body {
  @media (min-width: 1200px){
    font-size: 1em;
  }
  @media (min-width: 1440px){
    font-size: 1.1em;
  }
}